html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif !important
}

.row {
    margin: 0;
}






.slider {
    background-image: url('../images/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 80vh;
    clip-path: ellipse(70% 67% at 50% 32%);
    -webkit-clip-path: ellipse(70% 67% at 50% 32%);
}

.top-header {
    font-weight: 600;
    color: #f6921d !important;
}

.top-header span {
    font-weight: 500;

}


.navbar ul li a {
    font-weight: 100;
}

.navbar ul li a:hover {
    color: #f6921d !important;
}

.btn1 {
    border-radius: 2.25rem !important;
    border-color: #ffffff;
    color: #ffffff;
    padding: .375rem 1.75rem;

}

.btn1:hover {
    background-color: #f6921d;
    border-color: white;
}

header {
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%) !important;
}

header h1 {
    font-weight: 700;
}

header h1 span {
    font-weight: 400;
}

.btn2 {
    background-color: #f6921d;
    font-weight: 600 !important;
}

.down-header {
    position: relative;
    top: -20px;
}



@media (max-width: 575px) {


    .slider {
        height: 60vh;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -9%) !important;
    }

    .header-text {
        width: 80%;
    }

    .navbar li,
    a {
        display: inline;
    }

    .nav-link {
        display: inline;
    }

    .none-item {
        display: none !important;
    }

    .header-text h1 {
        font-size: 26px;
    }

    .header-p {
        text-align: center;
        font-size: 14px !important;
    }

    .btn2 {
        font-size: 10px;
    }

    .trust {
        height: 50vh !important;
    }

    .text-div {
        height: 50vh !important;
    }

    .text-div2 {
        height: 50vh !important;
    }

    .trust h2 {
        font-size: 26px;
    }

    .trust p {
        font-size: 12px;
    }

    .sub-footer {
        height: 65vh !important;
    }

    .why-us {
        position: relative !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -15%) !important;
    }

    .why-us h3 {
        border: none !important;
    }

    .open {
        border-left: none !important;
    }

    .footer-content {
        border-right: none !important;
    }

    .logo {
        border-right: none !important;
    }

    .logo {
        position: relative !important;
        top: 30% !important;
        left: 50% !important;
        transform: translate(-16%, -50%) !important;
    }

    .social {
        text-align: center;
    }


    .trust-text {
        width: 79% !important;
        position: relative !important;
        top: 50px !important;
        left: 11px !important;
    }

    .section_cybersecurity_1 {
        width: 100% !important;
    }

    .section_cybersecurity_1 h4 {
        font-weight: 600 !important;
        font-size: 14px;
        width: 100% !important;

    }

    .section_cybersecurity_1 p {
        width: 87% !important;
        font-size: 13px !important;

    }

    .section_cybersecurity_1 .btn-primary {
        font-size: 11px !important;
    }

    .section_cybersecurity_1 .btn-success {
        font-size: 11px !important;
    }


    .iq {

        height: auto !important;
    }


    .iq_image {
        height: 39vh !important;
    }



    .trust-text1 {
        width: 50%;
        position: relative;
        top: 50px;
        left: 22% !important;
    }

    .section_1_workshop_row {
        margin-top: 210px;
    }

    .section_1_workshop_box {
        position: absolute;
        top: 10px !important;
        width: 100% !important;
        height: 30vh;
        background-color: white;

        clip-path: ellipse(70% 67% at 50% 32%);
        -webkit-clip-path: ellipse(70% 67% at 50% 32%);
    }

    .section_1_workshop_box_1 {
        position: absolute;
        top: 5px !important;
        width: 100% !important;
        height: 30vh;
        background-color: #f6921d;
        clip-path: ellipse(70% 67% at 50% 32%);
        -webkit-clip-path: ellipse(70% 67% at 50% 32%);
    }

    .section_1_workshop_box_3 {
        position: absolute;
        top: 0px !important;
        width: 100% !important;
        height: 30vh;
        padding: 0px 2px !important;
        background-color: white;
        clip-path: ellipse(75% 67% at 50% 32%);
        -webkit-clip-path: ellipse(75% 67% at 50% 32%);
    }


    .section_3_workshop_img {
        height: 45vh !important;
        position: absolute;
        top: 5%;
        left: 20%;
    }


    .text-div5 {
        left: -11px !important;
        border: none;
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }
    
    .text-div6 {
        border: none;
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }

    .trust2
    {
        height: 100% !important;
        padding-bottom: 40px !important;
    }
    .trust2 img:first-child
    {
        display: none;
    }
    .text-div5
    {
        display: none !important;
    }
    .text-div6
    {
        display: none !important;
    }

    .computer_1
    {
        height: 50vh !important;
    }
    .computer_2
    {
        height: 50vh !important;
    }
    .computer_3
    {
        height: 50vh !important;
        padding: 0px !important;
    }





}

@media (min-width: 576px) {


    .slider {
        height: 50vh;
        ;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%) !important;
    }

    .header-text {
        width: 60%;
    }

    .btn1 {
        margin-left: 0px !important;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-p {
        text-align: center;
        font-size: 10px !important;
    }

    .btn2 {
        font-size: 10px;
    }

    .trust {
        height: 100vh !important;
    }

    .text-div {
        height: 100vh !important;
    }

    .text-div2 {
        height: 100vh !important;
    }

    .trust h2 {
        font-size: 30px;
    }

    .trust p {
        font-size: 12px;
    }

    .sub-footer {
        height: 100vh !important;
    }

    .why-us {
        position: relative !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -15%) !important;
    }



    .why-us h3 {
        border: none !important;
    }

    .open {
        border-left: none !important;
    }

    .footer-content {
        border-right: none !important;
    }

    .logo {
        border-right: none !important;
    }

    .logo {
        position: relative !important;
        top: 30% !important;
        left: 50% !important;
        transform: translate(-10%, -50%) !important;
    }

    .social {
        text-align: center;
    }


    .section_cybersecurity_1 {
        width: 100% !important;
    }

    .section_cybersecurity_1 h4 {
        font-weight: 600 !important;
        font-size: 14px;
        width: 100% !important;

    }

    .section_cybersecurity_1 p {
        width: 87% !important;
        font-size: 13px !important;

    }

    .section_cybersecurity_1 .btn-primary {
        font-size: 11px !important;
    }

    .section_cybersecurity_1 .btn-success {
        font-size: 10px !important;
    }



    .iq {

        height: auto !important;
    }

    .iq_image {
        height: 47vh !important;
    }



    .section_1_workshop_row {
        margin-top: 270px !important;
    }

    .section_1_workshop_box {
        position: absolute;
        top: 10px !important;
        width: 100% !important;
        height: 30vh;
        background-color: white;

        clip-path: ellipse(70% 67% at 50% 32%);
        -webkit-clip-path: ellipse(70% 67% at 50% 32%);
    }

    .section_1_workshop_box_1 {
        position: absolute;
        top: 5px !important;
        width: 100% !important;
        height: 30vh;
        background-color: #f6921d;
        clip-path: ellipse(70% 67% at 50% 32%);
        -webkit-clip-path: ellipse(70% 67% at 50% 32%);
    }

    .section_1_workshop_box_3 {
        position: absolute;
        top: 0px !important;
        width: 100% !important;
        height: 30vh;
        padding: 0px 2px !important;
        background-color: white;
        clip-path: ellipse(75% 67% at 50% 32%);
        -webkit-clip-path: ellipse(75% 67% at 50% 32%);
    }

    .section_3_workshop_img {
        height: 43vh !important;
        position: absolute;
        top: 5%;
        left: 5% !important;
    }
    .section_3_workshop .container
    {
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
    .text-div5 {
        height: 50vh !important;
        
    }

    .text-div6 {
        height: 50vh !important;
    }

    .text-div5 {
        left: -20px !important;
        border: none;
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }
    
    .text-div6 {
        border: none;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }

    .trust2
    {
        height: 100% !important;
    }

    .section_3_workshop_text
    {
        margin-bottom: 41px !important;
    }


}



@media (min-width: 768px) {

    .iq {

        height: 52vh !important;
    }

    .iq_image {
        height: 60vh !important;
    }

    .section_1_workshop_box {
        top: -190px !important;
    }

    .section_1_workshop_box_1 {
        top: -200px !important;
    }

    .section_1_workshop_box_3 {
        top: -210px !important;
    }

    .section_1_workshop_row {
        margin-top: auto !important;
    }

    .sub-footer {

        height: 30vh !important;
    }

    .section_3_workshop_img {
        height: 64% !important;
    position: absolute;
    top: 21% !important;
    left: 5% !important;
    }
    .section_3_workshop .container
    {
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
    .text-div5 {
        height: 50vh !important;
        
    }

    .text-div6 {
        height: 109% !important;
    }

    .text-div5 {
        height: 100% !important;
        left: -20px !important;
        border: none;
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }
    
    .text-div6 {
        border: none;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }

    .trust2
    {
        height: 100% !important;
    }

    .section_3_workshop_text
    {
        margin-bottom: 41px !important;
    }

}

@media (min-width: 992px) {



    .slider {
        height: 82vh;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 35%) !important;
    }

    .header-workshop {
        transform: translate(-50%, 100%) !important;

    }

    .top-header {
        margin-top: 10px;
    }

    .header-text {
        width: 50%;
    }

    .header-text h1 {
        font-size: 36px !important;
    }

    .header-p {
        font-size: 16px !important;
    }

    .btn2 {
        font-size: 16px;
    }

    .trust {
        height: 80vh !important;
    }

    .text-div {
        height: 80vh !important;
    }

    .text-div2 {
        height: 80vh !important;
    }

    .trust h2 {
        font-size: 36px;
    }

    .trust p {
        font-size: 16px;
    }

    .sub-footer {
        height: 40vh !important;
    }

    .why-us {
        position: relative !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .why-us h3 {
        border: none !important;
    }


    .open {
        border-left: 2px solid #d3d5d8 !important;
    }

    .footer-content {
        border-right: 2px solid #d3d5d8 !important;
    }

    .logo {
        border-right: 2px solid #d3d5d8 !important;
    }

    .logo {
        position: relative !important;
        top: 30% !important;
        left: 50% !important;
        transform: translate(-50%, -66%) !important;
    }

    .social {
        text-align: left;
    }

    .section_cybersecurity_1 {
        width: 63%;
    }

    .section_cybersecurity_1 h4 {
        font-weight: 600 !important;
        width: 95% !important;
        font-size: 24px;

    }

    .section_cybersecurity_1 p {
        width: 87%;
        font-size: 13px !important;

    }

    .section_cybersecurity_1 .btn-primary {
        font-size: 16px !important;
    }

    .section_cybersecurity_1 .btn-success {
        font-size: 16px !important;
    }


    .iq {

        height: 50vh !important;
    }

    .iq_image {
        height: 60vh !important;
    }

    .header-workshop h1 {
        font-size: 50px !important;

    }

    .section_1_workshop h2 {
        width: 80% !important;
        font-weight: 600;

    }



    .section_1_workshop_box {
        top: -140px !important;
    }

    .section_1_workshop_box_1 {
        top: -153px !important;
    }

    .section_1_workshop_box_3 {
        top: -160px !important;
    }

    .text-div5 {
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }

    .text-div6 {
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }

    .text-div5 {
        left: -16px !important;
        border: none;
        clip-path: circle(100% at 100% 51%) !important;
        -webkit-clip-path: circle(100% at 100% 51%) !important;
    }
    
    .text-div6 {
        border: none;
        clip-path: circle(100% at 100% 51%) !important;
        -webkit-clip-path: circle(100% at 100% 51%) !important;
    }
    .section_3_workshop_img {
        height: 70vh !important;
        position: absolute;
        top: 5% !important;
        left: 20% !important;
    }

    .text-div5 {
        left: -20px !important;
        border: none;
        clip-path: circle(60% at 100% 51%) !important;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }
    
    .text-div6 {
        border: none;
        -webkit-clip-path: circle(60% at 100% 51%) !important;
    }
    
    .section_3_workshop_text
    {
        margin-top: 89px !important;
    }

    .section_3_workshop_text
    {
        margin-left: -10%;
    }






}

.navbar {
    margin-top: -20px;
}

@media (min-width: 1300px) {

    .top-header {
        margin-top: 15px;
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%) !important;
    }

    .navbar img {
        width: 100%;
    }

    .header-workshop {
        transform: translate(-50%, 100%) !important;

    }

    .header-workshop h1 {
        font-size: 60px !important;

    }


    .section_1_workshop h2 {
        width: 80% !important;
        font-weight: 600;

    }

    .section_1_workshop_box {
        top: -170px !important;
    }

    .section_1_workshop_box_1 {
        top: -183px !important;
    }

    .section_1_workshop_box_3 {
        top: -190px !important;
    }

    .section_3_workshop_text
    {
        margin-left: -21%;
    }

.section_3_workshop_img {
    height: 70vh !important;
    position: absolute;
    top: 5% !important;
    left: 5% !important;
}

}







.services h2 span {
    font-weight: 600;
}

.card h5 {
    font-weight: 600;
}

.card p {
    font-weight: 400;
    font-size: 14px !important;
}

.card a {
    font-weight: 600;
    color: #f6921d;
    text-decoration: underline;
    font-size: 12px;
}

.trust {
    background-image: url('../images/trust.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

.text-div {
    position: relative;
    background-color: #f6921d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 100vh;
    border-right: 10px solid #f9ac38;
    clip-path: circle(89.6% at 0 51%);
    -webkit-clip-path: circle(89.6% at 0 51%);
}

.text-div2 {
    position: absolute;
    left: 10px;
    background-color: #faac39;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 100vh;
    border-right: 10px solid #f9ac38;
    clip-path: circle(89.6% at 0 51%);
    -webkit-clip-path: circle(89.6% at 0 51%);
    z-index: 0;
}

.trust-text {
    width: 50%;
    position: relative;
    top: 50px;
    left: 100px;
}

.trust h2 span {
    font-weight: 700;
}

.sub-footer {

    background-image: url('../images/sub_footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 60vh;

}

.sub-footer h3 {
    font-weight: 700;
}

.sub-footer input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 23px .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000 !important;
    background-color: #eee;
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sub-footer button {
    font-weight: bold;
    background-color: #f6921d;
    border-color: #f6921d;
    border-radius: 0px;
    width: 40%;
    border-radius: 3px;
    margin-left: -18px;
}

.why-us {
    position: relative;
    top: 50%;
    left: 50%;

    background-color: #f6921d;
    width: 90%;
}

.why-us h3 {
    border-right: 2px solid #ffffff;
    font-weight: bold;
    color: #ffffff;
}

.why-us p {

    display: inline-block;
    font-size: 14px;
    margin: 0;
}

footer {
    background-color: #f0f0f0;
}

.logo p {

    font-size: 10px;
}

.social ul,
.social li,
.social a {
    display: inline;
    color: #f6921d;
    padding-left: 10px;
}

.logo {
    border-right: 2px solid #d3d5d8;
}

.main-footer i {
    color: #f6921d;
}

.main-footer h5 {
    font-weight: 600;
}

.footer-content {
    border-right: 2px solid #d3d5d8;
    padding-bottom: 1px;
}

.area a {
    font-size: 14px;
    color: black;
}

.area a:hover {
    text-decoration: none;
    color: #f6921d;
}

.open {
    border-left: 2px solid #d3d5d8;
    padding-bottom: 14px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #dadada00;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    background-color: #dadada00;
}

.section_cybersecurity_1 {
    width: 63%;
    margin-bottom: 100px !important;
}

.section_cybersecurity_1 h4 {
    font-weight: 600;
    width: 95%;

}

.section_cybersecurity_1 p {
    width: 87%;
    font-size: 13px;

}

.section_cybersecurity_1 a {
    font-weight: 600;
    color: #f6921d;
    text-decoration: underline;
    font-size: 11px;
}

.section_cybersecurity_1 .btn-primary {
    background-color: #f6921d !important;
    font-weight: 600 !important;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;

}



.section_cybersecurity_1 .btn-success {
    background-color: #283d58 !important;
    font-weight: 600 !important;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;

}


.iq {
    position: relative;
    background-image: url('../images/IQ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    width: 100%;
    height: 50vh;
    margin-bottom: 100px !important
}

.iq_image {
    position: relative;
    top: -25px;
    border: 5px solid #f6921d;
    border-radius: 50%;
    height: 60vh;
}




.text-div3 {
    left: -11px !important;
    border: none;
    clip-path: circle(85.4% at 100% 51%) !important;
    -webkit-clip-path: circle(85.4% at 100% 51%) !important;
}

.text-div4 {
    border: none;
    clip-path: circle(85.4% at 100% 51%) !important;
    -webkit-clip-path: circle(85.4% at 100% 51%) !important;
}






.accordion .card {
    border: none !important;
}

.accordion>.card .card-header {
    margin-bottom: 0px;
    border-bottom: none !important;
    background-color: #f6921d;
    color: white;
}

.accordion>.card .card-header p {

    font-size: 14px !important;
    font-weight: 600;
    display: inline;
    padding: .75rem 0rem;
}

.accordion>.card .card-header:hover {
    cursor: pointer;
}

.accordion a {
    font-weight: 600;
    text-decoration: none;
}

.accordion .collapsed {
    background-color: #f2f2f2 !important;
    color: black !important;
}


.trust-text1 {
    width: 50%;
    position: relative;
    top: 50px;
    left: 45%;
}

.section_1_workshop h2 {
    font-weight: 600;

}

.section_1_workshop span {
    color: #f6921d;
    font-weight: 600;

}

.section_1_workshop_row {
    background-color: #283d58;
}

.section_1_workshop_box {
    position: absolute;
    top: -160px;
    width: 100%;
    height: 30vh;
    background-color: white;
    clip-path: ellipse(70% 67% at 50% 32%);
    -webkit-clip-path: ellipse(70% 67% at 50% 32%);
}

.section_1_workshop_box_1 {
    position: absolute;
    top: -173px;
    width: 100%;
    height: 30vh;
    padding: 20px;
    background-color: #f6921d;
    clip-path: ellipse(70% 67% at 50% 32%);
    -webkit-clip-path: ellipse(70% 67% at 50% 32%);
}

.section_1_workshop_box_3 {
    position: absolute;
    top: -180px;
    width: 100%;
    height: 30vh;
    padding: 0px 54px !important;
    background-color: white;
    clip-path: ellipse(75% 67% at 50% 32%);
    -webkit-clip-path: ellipse(75% 67% at 50% 32%);
}

.section_1_workshop_row_2 {
    background-color: #f6921d;
}

.section_1_workshop_row_2 h4 {
    font-weight: 600;
}

.section_1_workshop_row_2 ul {
    list-style: none;
    color: white;
}

.section_1_workshop_row_2 ul li {
    padding: 2px 0px;
}

.section_2_workshop h4 {
    font-weight: 600;
}

.section_2_workshop .card a {
    width: 30%;
    padding: 10px 0px;
    background-color: #f6921d;
    border: 1px solid #f6921d;
    color: white;
    text-decoration: none;
}

.section_2_workshop .card a:hover {
    width: 30%;
    padding: 10px 0px;
    background-color: #283d58;
    border: 1px solid #283d58;
}

.sub-footer .btn-4:hover {
    background-color: #283d58;
    border: 1px solid #283d58;
}

.section_3_workshop_img {
    height: 73vh;
    position: absolute;
    top: 5%;
    left: 20%;
}

.text-div5 {
    border: none;
}

.text-div6 {
    border: none;
}

.section_3_workshop .form-control {
    display: block;
    width: 90% !important;
    margin-right: auto !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.section_3_workshop button
{
        width: 30%;
        padding: 10px 0px;
        background-color: #f6921d;
        border: 1px solid #f6921d;
        color: white;
        text-decoration: none;
        font-weight: 600;
}
.section_3_workshop button:hover
{
    color: white;
    background-color: #283d58;
    border: 1px solid #283d58;
}

.btn-7
{
        width: 30%;
        padding: 10px 0px;
        background-color: #f6921d;
        border: 1px solid #f6921d;
        color: white;
        text-decoration: none;
        font-weight: 600;
}
.btn-7:hover
{
    color: white;
    background-color: #283d58;
    border: 1px solid #283d58;
}




.business_section_1 h2

{
 font-weight: 600;
}
.business_section_1 .card-body

{
    height: 83px;
}

.upper-text
{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.upper-text span
{
    color: #f6921d;
}
.text-primary
{
    color: #f6921d !important;
}
.bg-primary
{
    background-color: #f6921d !important;
}

.it
{
    position: relative;
    height: 50vh;
    clip-path: ellipse(70% 67% at 50% 32%);
    -webkit-clip-path: ellipse(70% 67% at 50% 32%);
}
.it-text
{
    color: white;
    padding: 20px;
    background-color: #18212c;
    height: 100%;
}

.it2
{
    position: relative;
    height: 50vh;
    background-color: #f6921d ;
    clip-path: ellipse(70% 67% at 50% 32%);
    -webkit-clip-path: ellipse(70% 67% at 50% 32%);
}
